<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empatia</title>
    <link rel="stylesheet" href="../styles/popup.css" />
  </head>
  <body>
    <div class="title-section">
      <h1>Empatia</h1>
      <h2>Rethink your social media comments.</h2>
    </div>

    <fieldset id="social-media-checkboxes" class="social-media-checkboxes">
      <legend class="enable-for"><b>Enable for:</b></legend>
      <div class="checkbox-group">
        <label for="reddit-checkbox">
          <input
            type="checkbox"
            id="reddit-checkbox"
            name="platforms"
            value="reddit"
            checked
          />
          Reddit
        </label>
        <label for="bsky-checkbox">
          <input
            type="checkbox"
            id="bsky-checkbox"
            name="platforms"
            value="bsky"
            checked
          />
          Bluesky
        </label>
        <label for="twitter-checkbox">
          <input
            type="checkbox"
            id="twitter-checkbox"
            name="platforms"
            value="twitter"
            checked
          />
          Twitter (X)
        </label>
      </div>
    </fieldset>

    <div class="sensitivity-slider-section">
      <label for="sentiment-slider">Adjust Sensitivity:</label>
      <input
        type="range"
        id="sentiment-slider"
        min="1"
        max="5"
        value="3"
        step="1"
      />
    </div>
    <a
      href="https://www.flaticon.com/free-icon/letter-e_9326452?term=letter+e&page=1&position=21&origin=tag&related_id=9326452"
      target="_blank"
      >icon by arnikahossain</a
    >
    <script type="module" src="../scripts/popup.js"></script>
  </body>
</html>
