body {
  background-color: #edb55e;
  padding: 20px;
  width: 200px;

  border: 4px solid #dfe0df;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: #402e32;
}

.title-section, .min-word-count-section {
  margin-bottom: 20px;
}

.checkbox-group, .min-word-count-section {
  display: flex;
  flex-direction: column;
}

.sensitivity-slider-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.enable-for {
  margin-top: 20px;
}

.min-word-input {
width: 40px;
}